@model RH_CV.Models.Contrato;

@{
    ViewData["Title"] = "Edit Contract";
}

@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
<head>
    <meta name="viewport" content="width=device-width" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>
</head>
<section class="h-100 gradient-form" style="background-color: #eee;">
    <div class="container py-3 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-xl-12">
                <div class="card rounded-3 text-black">
                    <div class="row g-0">


                        <div class="col-lg-5">

                            <div class="card-body p-md-5 mx-md-4">

                                <div class="text-center form-outline mb-5">
                                    <img src="https://www.hospitalinfantilsantaana.org/wp-content/uploads/2021/06/logo-300x230.png"
                                         style="width: 185px;" alt="logo">
                                    <!--<h4 class="mt-1 mb-5 pb-1">A</h4>-->
                                </div>

                                <p><b>Employee Info</b></p>
                                <br>

                                <div class="row align-items-baseline">
                                    <div class="form-outline mb-2 col-md-6">
                                        <label>Primer Nombre</label>
                                        <label class="form-control" style="background-color: #e3e4e5;" readonly>@Model.Empleado.PrimerNombre</label>
                                    </div>

                                    <div class="form-outline mb-2 col-md-6">
                                        <label>Segundo Nombre</label>
                                        @if (Model.Empleado.SegundoNombre == null)
                                        {
                                            <label class="form-control" style="background-color: #e3e4e5;" readonly>&nbsp;</label>
                                        }
                                        else
                                        {
                                            <label class="form-control" style="background-color: #e3e4e5;" readonly>@Model.Empleado.SegundoNombre</label>
                                        }
                                    </div>
                                </div>
                                <br />

                                <div class="row align-items-baseline">
                                    <div class="form-outline mb-4 col-md-6">
                                        <label>Primer Apellido</label>
                                        <label class="form-control" style="background-color: #e3e4e5;" readonly>@Model.Empleado.PrimerApellido</label>
                                    </div>

                                    <div class="form-outline mb-4 col-md-6">
                                        <label>Segundo apellido</label>
                                        @if (Model.Empleado.SegundoApellido == null)
                                        {
                                            <label class="form-control" style="background-color: #e3e4e5;" readonly>&nbsp;</label>
                                        }
                                        else
                                        {
                                            <label class="form-control" style="background-color: #e3e4e5;" readonly>@Model.Empleado.SegundoApellido</label>
                                        }
                                    </div>
                                </div>
                                <br />

                                <div class="row align-items-baseline">

                                    <div class="form-outline mb-2 col-md-6">
                                        <label>Documento</label>
                                        <label class="form-control" style="background-color: #e3e4e5;" readonly>@Model.Empleado.Documento</label>
                                    </div>

                                    <div class="form-outline mb-2 col-md-6" id="municipioExpedicion">
                                        <label>Lugar de expedición</label>
                                        <label class="form-control" style="background-color: #e3e4e5;" readonly>@Model.Empleado.LugarExpedicion</label>
                                    </div>
                                </div>
                                <br />

                                <div class="row align-items-baseline">
                                    <div class="form-outline mb-2 col-md-6">
                                        <label>Sexo</label>
                                        <label class="form-control" style="background-color: #e3e4e5;" readonly>@Model.Empleado.Sexo</label>
                                    </div>

                                    <div class="form-outline mb-2 col-md-6">
                                        <label>Fecha Nacimiento</label>
                                        <label class="form-control" style="background-color: #e3e4e5;" readonly>@Model.Empleado.FechaNacimiento.ToString("dd-MM-yyyy")</label>
                                    </div>
                                </div>
                                <br />

                                @*<div class="d-flex justify-content-center">
                                <button class="col-md-2 btn btn-secondary btn-block fa-lg mb-3" type="button" onclick="window.location.href='@Url.Action("AllEmployees", "ManageEmployees")'">
                                Back
                                </button>
                                <div class="mb-3">ㅤㅤㅤ</div>
                                <button class="col-md-2 btn btn-primary btn-block fa-lg gradient-custom-2 mb-3" type="submit">Create</button>
                                </div>*@

                                @if (ViewData["Mensaje"] != null)
                                {
                                    <div class="form-group">
                                        <div class="alert alert-danger" role="alert">
                                            @ViewData["Mensaje"]
                                        </div>
                                    </div>
                                }

                            </div>
                        </div>
                        <div class="col-lg-7 d-flex align-items-center gradient-custom-2">
                            <div class="text-white px-3 py-4 p-md-5 mx-md-4">
                                <form class="was-validated" asp-controller="ManageContracts" asp-action="EditContract" method="post">

                                    <input type="hidden" asp-for="EmpleadoId" value="@Model.Empleado.Documento" />
                                    <h3 class="mb-4">
                                        Contrato
                                        <br />
                                    </h3>
                                    <div class="row align-items-baseline">

                                        <div class="form-outline mb-2 col-md-4">
                                            <label>Cargo</label>
                                            <select asp-for="TipoCargoId" asp-items="@ViewBag.TipoCargo" class="form-select" required>
                                                <option value="">Seleccionar</option>
                                            </select>
                                        </div>

                                        <div class="form-outline mb-2 col-md-4">
                                            <label>Area Funcional</label>
                                            <select class="form-select text-black" asp-for="AreaFuncional" required>
                                                <option value="">Seleccionar</option>
                                                <option value="Administrativo">Administrativo</option>
                                                <option value="Asistencial">Asistencial</option>
                                            </select>
                                        </div>

                                        <div class="form-outline mb-2 col-md-4">
                                            <label>Salario</label>
                                            <input type="text" onkeypress="return soloNumeros(event)" class="form-control" asp-for="Salario" required />
                                        </div>
                                    </div>
                                    <br />

                                    <div class="row align-items-baseline">

                                        <div class="form-outline mb-2 col-md-4">
                                            <label>EPS</label>
                                            <select asp-for="EPSId" asp-items="@ViewBag.Eps" class="form-select" required>
                                                <option value="">Seleccionar</option>
                                            </select>
                                        </div>

                                        <div class="form-outline mb-2 col-md-4">
                                            <label>Fondo Pensiones</label>
                                            <select asp-for="FondoPensionesId" asp-items="@ViewBag.FondoPensiones" class="form-select">
                                                <option value="">Seleccionar</option>
                                            </select>
                                        </div>

                                        <div class="form-outline mb-2 col-md-4">
                                            <label>Fondo Cesantias</label>
                                            <select asp-for="FondoCesantiasId" asp-items="@ViewBag.FondoCesantias" class="form-select">
                                                <option value="">Seleccionar</option>
                                            </select>
                                        </div>

                                    </div>
                                    <br />

                                    <div class="row align-items-baseline">

                                        <div class="form-outline mb-2 col-md-4">
                                            <label>Contrato</label>
                                            <select asp-for="TipoContratoId" asp-items="@ViewBag.TipoContrato" class="form-select">
                                                <option value="">Seleccionar</option>
                                            </select>
                                        </div>

                                        <div class="form-outline mb-2 col-md-4">
                                            <label>Tiempo contratado en horas</label>
                                            <input type="text" onkeypress="return soloNumeros(event)" class="form-control" asp-for="TiempoContratado" required />
                                        </div>

                                        <div class="form-outline mb-2 col-md-4">
                                            <label>Registro Médico</label>
                                            <input type="text" class="form-control" asp-for="RegistroMedico" />
                                        </div>
                                    </div>
                                    <br />

                                    <div class="row align-items-baseline">

                                        <div class="form-outline mb-2 col-md-4">
                                            <label>Fecha de Ingreso</label>
                                            <input type="date" asp-for="FechaIngreso" onblur="calcularTiempoVinculacion()" class="form-control" id="fechaIngreso" required />
                                        </div>

                                        <div class="form-outline mb-2 col-md-4">
                                            <label>Fecha de Retiro</label>
                                            <input type="date" asp-for="FechaRetiro" onblur="calcularTiempoVinculacion()" class="form-control" id="fechaRetiro" />
                                        </div>

                                        <div class="form-outline mb-2 col-md-4">
                                            <label>Tiempo de Vinculación</label>
                                            <input type="text" asp-for="TiempoVinculacion" class="form-control" id="TiempoVinculacion" readonly/>
                                        </div>
                                    </div>
                                    <br />

                                    <div class="row align-items-baseline">
                                        <div class="form-outline mb-2 col-md-6">
                                            <label>Motivo de Retiro</label>
                                            <textarea rows="3" asp-for="MotivoRetiro" class="form-control"></textarea>
                                        </div>
                                        <div class="form-outline mb-2 col-md-6">
                                            <label>Observaciones</label>
                                            <textarea rows="3" asp-for="Observaciones" class="form-control"></textarea>
                                        </div>
                                    </div>

                                    <br />
                                    <br />
                                    <div class="d-flex justify-content-center">
                                        <button class="col-md-2 btn btn-secondary btn-block fa-lg mb-3" type="button" onclick="window.location.href='@Url.Action("AllEmployeeContracts", "ManageContracts")?doc=@Model.Empleado.Documento'">
                                            Atrás
                                        </button>
                                        <div class="mb-3">ㅤㅤㅤ</div>
                                        <button class="col-md-2 btn btn-primary btn-block fa-lg gradient-custom-2 mb-3" type="submit">Guardar</button>
                                    </div>
                                </form>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<script>

    //SoloNumeros
    function soloNumeros(event) {
        // Obtiene el código de la tecla presionada
        var charCode = event.keyCode || event.which;

        // Si el código de la tecla no es un número, evita la entrada de caracteres
        if (charCode < 48 || charCode > 57) {
            event.preventDefault();
            return false;
        }

        return true;
    }

    function calcularTiempoVinculacion() {
        const fechaIngreso = moment(document.getElementById("fechaIngreso").value);
        const fechaRetiro = moment(document.getElementById("fechaRetiro").value);

        // Verificar que la fecha de retiro no sea nula
        if (!fechaIngreso.isValid()) {
            document.getElementById("fechaRetiro").value = "";
            return;
        }

        const duracion = moment.duration(fechaRetiro.diff(fechaIngreso));

        const anios = duracion.years();
        const meses = duracion.months();
        const dias = duracion.days();

        const tiempoVinculacion = `${anios} años, ${meses} meses y ${dias} días`;
        document.getElementById("TiempoVinculacion").value = tiempoVinculacion;
    }

    var fechaActual = new Date().toISOString().split('T')[0];
    document.getElementById("fechaIngreso").setAttribute("max", fechaActual);
</script>