@model RH_CV.Models.DocenciaServicio;

@{
    ViewData["Title"] = "Teaching Service Detail";
}

@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
<!--<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
</head>
<body>-->
    <section class="h-100 gradient-form" style="background-color: #eee;">
        <div class="container py-3 h-100">
            <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col-xl-12">
                    <div class="card rounded-3 text-black">
                        <div class="row g-0">
                        @*<div class="col-lg-7">*@
                            <div class="card-body p-md-5 mx-md-4">

                                <div class="text-center form-outline mb-5">
                                    <img src="https://www.hospitalinfantilsantaana.org/wp-content/uploads/2021/06/logo-300x230.png"
                                            style="width: 185px;" alt="logo">
                                </div>

                                <p><b>Teaching Service Details</b></p>

                                <div class="row align-items-baseline">

                                    <div class="form-outline mb-2 col-md-4">
                                        <label>Documento</label>
                                    <label type="text" class="form-control">@Model.Documento</label>
                                    </div>

                                    <div class="form-outline mb-2 col-md-4" id="municipioExpedicion">
                                        <label>Tipo de Vinculación</label>
                                    <label type="text" class="form-control">@Model.TipoVinculacion.Tipo</label>
                                    </div>

                                    <div class="form-outline mb-2 col-md-4" id="municipioExpedicion">
                                        <label>Tipo de Vinculación</label>
                                    <label type="text" class="form-control">@Model.TipoCargo.Tipo</label>
                                    </div>

                                </div>
                                <br />

                                <div class="row align-items-baseline">
                                    <div class="form-outline mb-2 col-md-6">
                                        <label>Primer Nombre</label>
                                        <label type="text" class="form-control">@Model.PrimerNombre</label>
                                    </div>

                                    <div class="form-outline mb-2 col-md-6">
                                        <label>Segundo Nombre</label>
                                        @if (Model.SegundoNombre == null)
                                        {
                                            <label class="form-control">&nbsp;</label>
                                        }
                                        else
                                        {
                                            <label class="form-control" >@Model.SegundoNombre</label>
                                        }
                                    </div>
                                </div>
                                <br />

                                <div class="row align-items-baseline">
                                    <div class="form-outline mb-2 col-md-6">
                                        <label>Primer Apellido</label>
                                        <label type="text" class="form-control">@Model.PrimerApellido</label>
                                    </div>

                                    <div class="form-outline mb-2 col-md-6">
                                        <label>Segundo apellido</label>
                                        @if (Model.SegundoApellido == null)
                                        {
                                            <label class="form-control">&nbsp;</label>
                                        }
                                        else
                                        {
                                            <label class="form-control" >@Model.SegundoApellido</label>
                                        }
                                    </div>
                                </div>

                                <div class="row align-items-baseline">

                                    <div class="form-outline mb-2 col-md-6">
                                        <label>Institución</label>
                                        <label type="text" class="form-control">@Model.Institucion</label>

                                    </div>

                                    <div class="form-outline mb-2 col-md-6">
                                        <label>Area Funcional</label>
                                        <label type="text" class="form-control">@Model.AreaFuncional</label>

                                    </div>

                                </div>
                                <br />

                                <div class="row align-items-baseline">

                                    <div class="form-outline mb-2 col-md-6">
                                        <label>Fecha Ingreso</label>
                                        <label type="text" class="form-control">@Model.FechaIngreso.ToString("dd-MM-yyyy")</label>
                                    </div>

                                    <div class="form-outline mb-2 col-md-6">
                                        <label>Fecha Retiro</label>
                                        @if (Model.FechaRetiro == null)
                                        {
                                            <label class="form-control">&nbsp;</label>
                                        }
                                        else
                                        {
                                            <label class="form-control" >@Model.FechaRetiro.Value.ToString("dd-MM-yyyy")</label>
                                        }
                                    </div>

                                </div>
                                <br />

                                <div class="row align-items-baseline">
                                    <div class="form-outline mb-4 col-md-6">
                                        <label>Motivo de Retiro</label>
                                        @if (Model.MotivoRetiro == null)
                                        {
                                            <textarea rows="3" class="form-control" readonly style="background-color: #FFFFFF;">&nbsp;</textarea>
                                        }
                                        else
                                        {
                                            <textarea rows="3" class="form-control" readonly style="background-color: #FFFFFF;">@Model.MotivoRetiro</textarea>
                                        }
                                    </div>
                                    <div class="form-outline mb-4 col-md-6">
                                        <label>Observaciones</label>
                                        @if (Model.Observaciones == null)
                                        {
                                            <textarea rows="3" class="form-control" readonly style="background-color: #FFFFFF;">&nbsp;</textarea>
                                        }
                                        else
                                        {
                                            <textarea rows="3" class="form-control" readonly style="background-color: #FFFFFF;">@Model.Observaciones</textarea>
                                        }
                                    </div>
                                </div>
                                <br />

                                <div class="d-flex justify-content-center">
                                    <button class="col-md-2 btn btn-secondary btn-block fa-lg mb-3" type="button" onclick="window.location.href='@Url.Action("AllTeachingServices", "ManageTeachingServices")'">
                                        Back
                                    </button>
                                </div>

                            </div>
                        @*</div>
                            <div class="col-lg-5 d-flex align-items-center gradient-custom-2">
                                <div class="text-white px-3 py-4 p-md-5 mx-md-4">
                                <h3 class="mb-4">Un Hospital Con Historia</h3>
                                    <p class="small mb-0">
                                        Somos una entidad privada, sin ánimo de lucro, fundada en 1943 por legado testamentario de Ana Josefa Misas de Echavarría, con el fin
                                        inicial de proporcionar atención médica y odontológica a los niños de escasos recursos del sector de El Poblado y atención prenatal a sus madres.<br>

                                        Posteriormente extendimos los servicios a la población de escasos recursos del Departamento y otras regiones del país. En 1982 se inició
                                        la consulta de asma y enfermedades respiratorias.<br>

                                        Con el establecimiento de la ley 100, se comenzó a brindar los servicios a pacientes particulares y afiliados del régimen Subsidiado y Contributivo.
                                    </p>
                                </div>
                            </div>*@
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>